<div style = "width:100%;">
      <div style = "height:25px;width:100%;background-color:blue;text-align:left;float:left;">
	        <div id = "show_create_div" style = "cursor:pointer;height:25px;width:10%;text-align:center;float:right;background-color:#FFFFFF;" onclick="toggleall();">
	     	New Entry
		</div>
      </div>		
</div>
