  <div class="field">
    <!--<label for="entry_Information">Information</label><br />-->
    <br /><textarea cols="40" id="entry_reference" name="entry[reference]" rows="20"></textarea>
  </div>

  <div class="actions">
    <input id="entry_submit" name="commit" type="submit" value="Create Entry" />
  </div>
</form>

